__tests__
./.travis.yml
./.eslintignore
./.eslintrc
./.coveralls.yml
./.codeclimate.yml
coverage
__coverage__
config/local.json
config/local.yml
config/local.yaml
config/private.json
test.js
.tmp
yarn.lock